[run]
source =
    Controller
omit =
    Controller/monitor_log.py
    Controller/nightly_backup.py
    Controller/vein_manager.py
    Controller/Tools/packing/*

[report]
show_missing = True
skip_empty = True
